.calculator {
  width: 280px;
  margin: 0 auto; /* Center the calculator */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.display {
  grid-column: 1 / -1;
  background-color: #f3f3f3;
  padding: 10px;
  text-align: right;
  font-size: 24px;
  overflow: hidden;
  height: 60px;
  line-height: 60px;
}

.button {
  width: 60px;
  height: 60px;
  font-size: 18px;
}

.button-clear {
  grid-column: span 1;
}

.button-equals {
  grid-column: span 1;
}

.button-zero {
  grid-column: span 1;
}

.button-operator {
  background-color: orange;
  color: white;
}
